.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
    --cream : #FEF8EC;
    --type-light :#DDF3FC;
    --blue : #96B8DE;
    --gray :#889CAC;
    --background-light: #B4CBE4;
    --background-dark: #343434;
    --success-green: #A0F383;
    --error-red: #A72500;
    --type-dark: #405160;

}